.hero-banner {
    position: relative;
    /* padding-top: 140px; */
    height: calc(100vh - 80px);
    background-color: #fff;
    min-height: 600px;
}

/* .hero-banner::after {
    content: '';
    position: absolute;
    background-color: #d9f4ff;
    right: 0;
    top: 10%;
    width: 65%;
    height: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */

.hero-banner .uk-container {
    width: 1200px;
    z-index: 1;
}

.hero-banner .img {
    background-repeat: no-repeat;
    background-position: top 15% center;
    background-size: 120%;
    padding-top: 80%;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .hero-banner {
        padding-top: 40px;
    }
}